body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: grid;
    place-content: center;
    height: 100dvh;
}

main{
    width: 400px;
    max-width: 100%;
    height: 70vh;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 0 0 10px rgba(0,0,0,0.1px);
    padding: 7px;
    margin-bottom: 16px;
    overflow-y: auto;
    scroll-behavior: smooth;
}

ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

.mensaje{
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 4px 0;
    padding: 4px 9px;


    > span{
        width: 35px;
        height: 35px;
        font-size: 12px;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 9999px;
    }
    > p{
        padding: 4px 7px;
        margin-top: 0;
    }
    &.user {
        align-self: flex-end;
        align-items: flex-end;
        span, p{
            background: #93deef;
        }
    }
    &.bot{
        span, p{
        align-self: flex-start;
        background: rgb(178, 246, 178);
        }
    }

}

form{
    display: flex;
    input{
        border-radius: 9999px;
        flex-grow: 1;
        padding: 7px;
        margin: 8px;
        margin-right: 7px;
        border: 1px solid #a39d9d;
    }

    button{
        background: #4bd3f2;
        border: 0;
        border-radius: 12px;
        color: white;
        cursor: pointer;
        padding: 8px;
        transition: background .4s ease;

        &[disabled] {
            background: #a39d9d;
            opacity: .6;
            pointer-events: none;

        &:hover{
            background: rgb(119, 192, 234);
        }
    }
}
}


small {
    font-size: 10px;
    color: #555;
    position: fixed;
    bottom: 10px;
    margin: auto;
    width: 400px;
}